<!DOCTYPE html>
<html>
<body>
<br>
<br>
<br>
<center>
<h1>Congrats!!!! your identity is validated</h2>
<br>
<h2><p>Please select an action to proceed</p>

<form action="/sellProperty" method="POST">
<input type="submit" value="Sell a property">
</form>
<form action="/buyProperty" method="POST">
<input type="submit" value="Buy a property">
</form>
<form action="/prepareSaleDeed" method="POST">
<input type="submit" value="prepare sale deed">
</form>
<form action="/completeRegistration" method="POST">
<input type="submit" value="complete Registration">
</form>